* {
  padding: 0%;
  margin: 0%;
  font-family: "Josefin Sans", sans-serif;
}
.body {
  background-color: #f9f2ec;
}
header {
  height: 40px;
  background-color: #1f212c;
}
header h1 {
  font-weight: bolder;
  color: white;
}
menu .texto {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
menu .texto h2 {
  color: #00966b;
  font-weight: bolder;
}
.texto p {
  color: #1f212c;
  font-size: large;
  font-weight: 600;
}
menu .imagen {
  margin-top: 130px;
  display: flex;
  justify-content: center;
}
/* className */
.ofertas h2 { 
  margin-top: 50px;
  background-color: #00966b;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
}
.box {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.boxprestamos{
  width: 400px;
  height: 150px;
  background-color: white;
}
.boxprestamos p{
  font-weight: 600;
}
.boxprestamos h3{
    display: flex;
    justify-content: center;
    color: #1f212c;
    font-weight: bolder
}
.beneficios {
  transform: translateY(-325px);
  text-align: center;
  color:#1f212c;
  font-weight: bold;
}
.formulario {
  display: flex;
  justify-content: center;
  padding: 150px;
}
.validacion {
  background-color:#00966b;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  


}
.form-label{
  color: white;
}
.btn{
  margin-top: 15px;
  margin-bottom: 10px;
}
.usuarioResultado{
  transform: translateY(-100px);
  text-align: center;
  font-weight: bold;
  background-color: white;
  color: #1f212c;
}